@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@source "./*.tsx";

@theme {
  --font-sans: "Work Sans", sans-serif;
  --font-mono: "Space Mono", monospace;
  --font-display: "Archivo Black", sans-serif;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  margin: 0;
  padding: 0;
}
